.button_wrapper,
.block--actions
  display: flex
  gap: 6px
  flex-wrap: wrap
  align-items: center
  margin-top: 16px
  &:empty
    display: none
  .button
    width: 100%
    @media(min-width: 769px)
      max-width: 283px


