@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4x38ry');
  src:  url('fonts/icomoon.eot?4x38ry#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4x38ry') format('truetype'),
    url('fonts/icomoon.woff?4x38ry') format('woff'),
    url('fonts/icomoon.svg?4x38ry#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-alert:before {
  content: "\e900";
}
.icon-ic-calendar:before {
  content: "\e901";
}
.icon-ic-chevron-down:before {
  content: "\e902";
}
.icon-ic-chevron-left:before {
  content: "\e903";
}
.icon-ic-chevron-right:before {
  content: "\e904";
}
.icon-ic-chevron-up:before {
  content: "\e905";
}
.icon-ic-close:before {
  content: "\e906";
}
.icon-ic-close-menu:before {
  content: "\e907";
}
.icon-ic-copy:before {
  content: "\e908";
}
.icon-ic-done:before {
  content: "\e909";
}
.icon-ic-email:before {
  content: "\e90a";
}
.icon-ic-eye:before {
  content: "\e90b";
}
.icon-ic-google:before {
  content: "\e90c";
}
.icon-ic-link:before {
  content: "\e90d";
}
.icon-ic-location:before {
  content: "\e90e";
}
.icon-ic-menu:before {
  content: "\e90f";
}
.icon-ic-minus:before {
  content: "\e910";
}
.icon-ic-notification:before {
  content: "\e911";
}
.icon-ic-phone:before {
  content: "\e912";
}
.icon-ic-play:before {
  content: "\e913";
}
.icon-ic-plus:before {
  content: "\e914";
}
.icon-ic-reply:before {
  content: "\e915";
}
.icon-ic-search:before {
  content: "\e916";
}
.icon-ic-share:before {
  content: "\e917";
}
.icon-ic-socials-max:before {
  content: "\e918";
}
.icon-ic-socials-rutube:before {
  content: "\e91a";
}
.icon-ic-socials-telegram:before {
  content: "\e91b";
}
.icon-ic-socials-vk:before {
  content: "\e91c";
}
.icon-ic-time:before {
  content: "\e91d";
}
.icon-ic-uniq-arrow-left:before {
  content: "\e91e";
}
.icon-ic-uniq-arrow-right:before {
  content: "\e91f";
}
.icon-ic-weather-cloud:before {
  content: "\e920";
}
.icon-ic-weather-moon:before {
  content: "\e921";
}
.icon-ic-weather-rain:before {
  content: "\e922";
}
.icon-ic-weather-snow:before {
  content: "\e923";
}
.icon-ic-weather-storm:before {
  content: "\e924";
}
.icon-ic-weather-sun:before {
  content: "\e925";
}
.icon-ic-weather-wind:before {
  content: "\e926";
}
.icon-dot:before {
  content: "\e949";
}
