.mode
  display: none
  @media(min-width: 1240px)
    display: flex
    justify-content: center
    position: fixed
    bottom: 0
    width: 100%
    flex-wrap: wrap
    gap: 16px
    z-index: 100
    .button.is_active 
      border: 3px solid #fff
      
