.content_advantages
  --col: 2

  @media(min-width: 641px)
    --col: 3
  @media(min-width: 641px)
    --col: 3
  @media(min-width: 769px)
    --col: 5
  @media(min-width: 1241px)
    --col: 6
  .block--elements
    justify-items: center
  .swiper-wrapper
    justify-content: space-between
