.footer
  background-color: var(--bg-primary)
  //a:hover
  //  color: var(--text-neutral-tertiary)
  color: #FEF9F1
  &--main
    position: relative
    z-index: 1
    display: grid
    grid-template-columns: 4fr 2fr 6fr
    padding: 100px var(--container) 100px
  &--logo
    display: flex
    justify-content: center
    img
      max-width: 483px
  &--col
    display: flex
    flex-direction: column
    &:has(.footer--nav)
      @media (min-width: 769px)
        grid-column: 3
  &--nav
    gap: var(--container)
    text-transform: uppercase
    @media (min-width: 769px)
      display: grid
      grid-template-columns: repeat(3, 1fr)
    &_group
      display: flex
      flex-direction: column
      gap: 20px
      max-width: 200px
      &_title
        font-size: var(--fs-body-2)
        line-height: 1
        font-weight: 600
    &_list
      &_item
        font-size: var(--fs-caption-2)
        line-height: 1.5
        list-style-type: none

  &--contacts
    display: flex
    flex-direction: column
    gap: 20px
    margin-top: auto
    font-size: var(--fs-body-1)
    @media (min-width: 769px)
    &_title
      text-transform: uppercase
      font-size: var(--fs-body-2)
      font-weight: 600
    &_list
      display: flex
      flex-direction: column
      .button
        padding: 8px 0
        gap: 20px
        font-size: var(--fs-body-2)
  .form--title
    font-size: var(--fs-body-2)
  &--awards
    &_list
      display: flex
      gap: 16px
      .item
        max-width: 150px

  &--note
    border-top: 1px solid var(--line-quatemary-filled)
    display: flex
    color: #FEF9F1
    font-size: var(--fs-caption-2)
    flex-direction: column
    gap: 24px
    text-transform: uppercase
    padding: 48px  var(--container)
    margin-top: 56px

    @media (min-width: 769px)
      flex-direction: row
      justify-content: space-between

    .developer
      span
        color: #FEF9F1
        font-weight: 600


