html
  /* Text */
  --text-neutral-primary: #482F0C
  --text-neutral-secondary: rgba(72, 47, 12, 0.8)
  --text-neutral-tertiary: rgba(72, 47, 12, 0.6)
  --text-neutral-quatemary: rgba(72, 47, 12, 0.3)
  --text-fixed-light-primary: #FFFFFF
  --text-softlight-primary: rgba(255, 255, 255, 0.6)
  --text-accent-primary: #E54A4A
  --text-accent-secondary: #E54A4A
  --text-neutral-black: #060606

  /* Button Dark Theme - Primary filled */
  --button-dark-primary-text-rest: #482F0C
  --button-dark-primary-text-hover: rgba(72, 47, 12, 0.5)
  --button-dark-primary-text-disabled: rgba(255, 255, 255, 0.3)
  --button-dark-primary-bg-rest: #FFFFFF
  --button-dark-primary-bg-hover: #FFFFFF
  --button-dark-primary-bg-disabled: rgba(81, 55, 31, 0.15)

  /* Button Dark Theme - Secondary filled */
  --button-dark-secondary-text-rest: #FFFFFF
  --button-dark-secondary-text-hover: #FFFFFF
  --button-dark-secondary-text-disabled: rgba(255, 255, 255, 0.3)
  --button-dark-secondary-bg-rest: rgba(0, 0, 0, 0.3)
  --button-dark-secondary-bg-hover: rgba(255, 255, 255, 0.3)
  --button-dark-secondary-bg-disabled: rgba(81, 55, 31, 0.15)

  /* Button Dark Theme - Outlined */
  --button-dark-outlined-text-rest: #FFFFFF
  --button-dark-outlined-text-hover: #FFFFFF
  --button-dark-outlined-text-disabled: rgba(255, 255, 255, 0.4)
  --button-dark-outlined-bg-rest: #FFFFFF
  --button-dark-outlined-bg-hover: rgba(255, 255, 255, 0.1)
  --button-dark-outlined-bg-disabled: rgba(255, 255, 255, 0.4)
  /* Button Dark Theme - Flat compact */
  --button-dark-flat-text-rest: #FFFFFF
  --button-dark-flat-text-hover: #FFFFFF
  --button-dark-flat-text-disabled: rgba(255, 255, 255, 0.3)
  /* Button Dark Theme - Brand Primary */
  --button-dark-brand-primary-text-rest: #FFFFFF
  --button-dark-brand-primary-text-hover: rgba(255, 255, 255, 0.7)
  --button-dark-brand-primary-text-disabled: rgba(255, 255, 255, 0.3)
  --button-dark-brand-primary-bg-rest: #E54A4A
  --button-dark-brand-primary-bg-hover: #E54A4A
  --button-dark-brand-primary-bg-disabled: rgba(81, 55, 31, 0.15)
  /* Button Dark Theme - Brand Secondary */
  --button-dark-brand-secondary-text-rest: #E54A4A
  --button-dark-brand-secondary-text-hover: #E54A4A
  --button-dark-brand-secondary-text-disabled: rgba(255, 255, 255, 0.3)
  --button-dark-brand-secondary-bg-rest: rgba(255, 255, 255, 0.5)
  --button-dark-brand-secondary-bg-hover: rgba(255, 255, 255, 0.8)
  --button-dark-brand-secondary-bg-disabled: rgba(81, 55, 31, 0.15)

  /* Button Dark Theme - Brand Outlined */
  --button-dark-brand-outlined-text-rest: #FFFFFF
  --button-dark-brand-outlined-text-hover: #FFFFFF
  --button-dark-brand-outlined-text-disabled: rgba(255, 255, 255, 0.4)
  --button-dark-brand-outlined-bg-rest: #FFFFFF
  --button-dark-brand-outlined-bg-hover: rgba(255, 255, 255, 0.1)
  --button-dark-brand-outlined-bg-disabled: rgba(255, 255, 255, 0.4)

  /* Button Dark Theme - Brand Flat compact */
  --button-dark-brand-flat-text-rest: #FFFFFF
  --button-dark-brand-flat-text-hover: #FFFFFF
  --button-dark-brand-flat-text-disabled: rgba(255, 255, 255, 0.3)

  /* Button Light Theme - Primary filled */
  --button-light-primary-text-rest: #FFFFFF
  --button-light-primary-text-hover: #FFFFFF
  --button-light-primary-text-disabled: #CBC3BC
  --button-light-primary-bg-rest: #51371F
  --button-light-primary-bg-hover: #745F4C
  --button-light-primary-bg-disabled: #EEEBE9

  /* Button Light Theme - Secondary filled */
  --button-light-secondary-text-rest: #482F0C
  --button-light-secondary-text-hover: #482F0C
  --button-light-secondary-text-disabled: #CBC3BC
  --button-light-secondary-bg-rest: #DCD7D2
  --button-light-secondary-bg-hover: #C6C1BD
  --button-light-secondary-bg-disabled: #EEEBE9

  /* Button Light Theme - Outlined */
  --button-light-outlined-text-rest: #482F0C
  --button-light-outlined-text-hover: #745F4C
  --button-light-outlined-text-disabled: #CBC3BC
  --button-light-outlined-bg-rest: #A59379
  --button-light-outlined-bg-hover: rgba(255, 255, 255, 0.2)
  --button-light-outlined-bg-disabled: #CBC3BC

  /* Button Light Theme - Flat compact */
  --button-light-flat-text-rest: #482F0C
  --button-light-flat-text-hover: #745F4C
  --button-light-flat-text-disabled: #CBC3BC

  /* Button Light Theme - Brand Primary */
  --button-light-brand-primary-text-rest: #FFFFFF
  --button-light-brand-primary-text-hover: rgba(255,255,255,0.7)
  --button-light-brand-primary-text-disabled: #CBC3BC
  --button-light-brand-primary-bg-rest: #E54A4A
  --button-light-brand-primary-bg-hover: #E54A4A
  --button-light-brand-primary-bg-disabled: #EEEBE9
  /* Button Light Theme - Brand Secondary */
  --button-light-brand-secondary-text-rest: #E54A4A
  --button-light-brand-secondary-text-hover: #E54A4A
  --button-light-brand-secondary-text-disabled: #F2A4A4
  --button-light-brand-secondary-bg-rest: #FADBDB
  --button-light-brand-secondary-bg-hover: #F5B7B7
  --button-light-brand-secondary-bg-disabled: #FCEDED

  /* Button Light Theme - Brand Outlined */
  --button-light-brand-outlined-text-rest: #E54A4A
  --button-light-brand-outlined-text-hover: #E54A4A
  --button-light-brand-outlined-text-disabled: rgba(229, 74, 74, 0.6)
  --button-light-brand-outlined-bg-rest: #FFFFFF
  --button-light-brand-outlined-bg-hover: rgba(229, 74, 74, 0.1)
  --button-light-brand-outlined-bg-disabled: rgba(229, 74, 74, 0.3)

  /* Button Light Theme - Brand Flat compact */
  --button-light-brand-flat-text-rest: #E54A4A
  --button-light-brand-flat-text-hover: #F2A4A4
  --button-light-brand-flat-text-disabled: #FADBDB

  /* Bg */
  --bg-page: #FFFFFF
  --bg-illustration: #B3A48D
  --bg-illustration-red: #E54A4A
  --bg-illustration-light: #F3ECE4
  --bg-card: #DFD7CB
  --bg-card-loading: rgba(69, 59, 21, 0.1)
  /* Line */
  --line-primary: #A59379
  --line-primary-dark: #482F0C
  --line-illustration: #E54A4A
  --line-secondary: rgba(165, 147, 121, 0.8)
  --line-tertiary: rgba(165, 147, 121, 0.6)
  --line-quatemary: rgba(165, 147, 121, 0.3)
  --line-secondary-filled: #A59379
  --line-tertiary-filled: #B3A48D
  --line-quatemary-filled: #DFD7CB
  --line-light-primary: #FFFFFF
  --line-light-secondary: rgba(255, 255, 255, 0.6)
  --line-light-secondary-filled: #FFFFFF

  /* Icons */
  --icon-primary: #482F0C
  --icon-secondary: rgba(72, 47, 12, 0.8)
  --icon-tertiary: rgba(72, 47, 12, 0.6)
  --icon-quatemary: rgba(72, 47, 12, 0.3)
  --icon-light-primary: #FFFFFF
  --icon-light-secondary: rgba(255, 255, 255, 0.6)

  /* Blocks - Footer */
  --footer-text-primary: #453B15
  --footer-illustration: #453B15
  --footer-text-hover: #453B15
  --footer-button-rest: #482F0C
  /* Blocks - Hero */
  --hero-button-uniq-rest: #DFD7CB
  --hero-button-uniq-hover: #E54A4A

  --bg-primary: #2A302A
