html
  // font size
  --fs-display-2: clamp(32px, calc(32px + (64 - 32) * ((100vw - 768px) / (1440 - 768))), 64px)
  --fs-display-1: clamp(32px, calc(32px + (52 - 32) * ((100vw - 768px) / (1440 - 768))), 52px)
  --fs-heading-3: clamp(28px, calc(28px + (48 - 28) * ((100vw - 768px) / (1440 - 768))), 48px)
  --fs-heading-2: clamp(28px, calc(28px + (40 - 28) * ((100vw - 768px) / (1440 - 768))), 40px)
  --fs-heading-1: clamp(24px, calc(24px + (32 - 24) * ((100vw - 768px) / (1440 - 768))), 32px)
  --fs-subhead-3: clamp(28px, calc(28px + (40 - 28) * ((100vw - 768px) / (1440 - 768))), 40px)
  --fs-subhead-2: clamp(24px, calc(24px + (24 - 24) * ((100vw - 768px) / (1440 - 768))), 24px)
  --fs-subhead-2-2: clamp(20px, calc(20px + (24 - 20) * ((100vw - 768px) / (1440 - 768))), 24px)
  --fs-subhead-1: clamp(20px, calc(20px + (22 - 20) * ((100vw - 768px) / (1440 - 768))), 22px)
  --fs-body-3: clamp(16px, calc(16px + (20 - 16) * ((100vw - 768px) / (1440 - 768))), 20px)
  --fs-body-2: clamp(16px, calc(16px + (18 - 16) * ((100vw - 768px) / (1440 - 768))), 18px)
  --fs-body-1: clamp(14px, calc(14px + (16 - 14) * ((100vw - 768px) / (1440 - 768))), 16px)
  --fs-caption-2-2: clamp(14px, calc(14px + (14 - 14) * ((100vw - 768px) / (1440 - 768))), 14px)
  --fs-caption-2: clamp(12px, calc(12px + (14 - 12) * ((100vw - 768px) / (1440 - 768))), 14px)
  --fs-caption-1: clamp(10px, calc(10px + (12 - 10) * ((100vw - 768px) / (1440 - 768))), 12px)
  // Line height
  --lh-display-2: clamp(44px, 5.463vw + -0.303px, 77px)
  --lh-display-1: clamp(44px, 4.167vw + 11.998px, 64px)
  --lh-heading-3: clamp(34px, 5.0vw + -4.4px, 58px)
  --lh-heading-2: clamp(34px, 2.917vw + 11.598px, 48px)
  --lh-heading-1: clamp(29px, 2.083vw + 12.998px, 39px)
  --lh-subhead-3: clamp(34px, 2.917vw + 11.598px, 48px)
  --lh-subhead-2: 29px
  --lh-subhead-1: clamp(24px, 0.625vw + 19.198px, 27px)
  --lh-body-3: clamp(24px, 3.333vw + -1.598px, 40px)
  --lh-body-3-short: clamp(20px, 1.875vw + 5.598px, 29px)
  --lh-body-2: clamp(24px, 0.833vw + 17.598px, 28px)
  --lh-body-1: 24px
  --lh-body-1-short: clamp(18px, 0.417vw + 14.798px, 20px)
  --lh-caption-2: clamp(15px, 1.25vw + 5.398px, 21px)
  --lh-caption-2-short: clamp(15px, 0.417vw + 11.798px, 17px)
  --lh-caption-1: clamp(12px, 0.625vw + 7.198px, 15px)
  // icon size
  --button-icon-size: clamp(20px, calc(20px + (24 - 20) * ((100vw - 768px) / (1440 - 768))), 24px)
  --button-icon-size-2: clamp(24px, calc(24px + (32 - 24) * ((100vw - 768px) / (1440 - 768))), 32px)
  --button-icon-size-3: clamp(36px, calc(36px + (40 - 36) * ((100vw - 768px) / (1440 - 768))), 40px)
