.form--input
  display: flex
  flex-direction: column
  margin-bottom: 24px
  gap: 0

  & > input, textarea
    transition: var(--transition)
    width: 100%
    padding: 10px 0
    border: none
    border-bottom: 1px solid var(--line-quatemary)
    color: var(--text-neutral-quatemary)
    border-radius: 0
    background-color: transparent
    box-shadow: none
    font-size: var(--fs-body-2)
    line-height: var(--lh-body-1)
    @media(min-width: 768px)

    &::placeholder,
    &:placeholder-shown
      color: var(--text-neutral-quatemary)
      font-weight: 400

    &:not(:placeholder-shown)
      color: var(--text-neutral-primary)
    &:hover,
    &:focus,
    &:focus-within
      border-bottom-color: var(--line-secondary)

    &[required] ~ span:after
      content: "*"


  &.error
    & > input, textarea

    .form--input_error
      opacity: 1
      max-height: fit-content
      height: auto
      visibility: inherit
      margin-top: 8px
  &_error
    color: var(--text-accent-primary)
    font-size: var(--fs-caption-2)
    max-height: 0
    opacity: 0
    height: 0
    overflow: hidden
    transition: opacity 0.03s 0.15s ease-out, max-height .18s linear

  &_hint
    color: var(--text-subnead)
    font-size: 16px
    line-height: 20px

  & > label
    display: flex
    align-items: flex-start



