#map,
.map
  width: 100%
  height: 100%

.block--map
  height: calc(100vh - var(--headerHeight))
  width: 100%
.ymaps3--controls
  z-index: -1 !important
.marker-image
  position: relative
  width: var(--marker-size, 54px)
  height: var(--marker-size, 54px)
  transform: translate(-50%, -100%)

.marker-image__icon
  display: block
  width: 100%
  height: 100%


